.device-switcher {
  position: relative;
  width: 100%;
}

.switch-button-container {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.switch-button-container button {
  padding: 5px;
  margin: 5px;
  width: 100px;
  background-color: white;
  color: black;
  border: 2px solid black;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.switch-button-container button.active {
  background-color: black;
  border: none;
  color: white;
}

.switch-button-container button:focus {
  outline: 0;
}

.device {
  border: 2px solid black;
  margin: 0 auto;
  box-sizing: content-box;
}

.device-label {
  position: relative;
  width: 100%;
}

.device-label h1 {
  margin: auto;
}
